@import 'tailwindcss';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bg: #222326;
  --bgT: #222326a0;

  --light-border: hsla(0, 0%, 100%, 0.2);
  --dark-border: rgba(0, 0, 0, 0.15);

  --light-bg: #ffffff10;
  --dark-bg: #00000010;

  --hl: oklch(70.7% 0.13 254.624);
  --hover: oklch(70.7% 0.13 254.624);
  --golden: hsl(50, 85%, 50%);

  --soft-text: #ffffff90;
  --pure: #101010;
  --text: white;

  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
--bg: #27282a;
--bgT: #27282aa0;
*/

[data-theme='light'] {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bg: #f3f3fa;
  --bgT: #f3f3faa0;

  --light-border: hsla(0, 0%, 100%, 1);
  --dark-border: rgba(0, 0, 0, 0.15);

  --light-bg: #ffffffa0;
  --dark-bg: #10101009;

  --soft-text: #20202090;
  --pure: #fefefe;

  --hl: oklch(70.7% 0.165 254.624);
  --hover: oklch(70.7% 0.165 254.624);
  --golden: oklab(79.524% 0.01113 0.16122);

  --text: black;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Bio Sans';
  src: url('./fonts/biosans/Flat-it-BioSans-SemiBold.otf');
}

@font-face {
  font-family: 'Koulen';
  src: url('./fonts/Koulen/Koulen-Regular.ttf');
}

.helvetica {
  font-family: Helvetica;
}

.bio-sans {
  font-family: Bio Sans;
}

.koulen {
  font-family: Koulen;
}

.helvetica {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--bg);
  height: 100dvh;
}

.hide-scroll::-webkit-scrollbar {
  display: none !important;
  width: 0px;
}
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.up {
  border-radius: 25px;
  box-shadow: 3px 3px 4px var(--dark-border),
    inset 1px 1px 2px var(--light-border);
}

.down {
  border-radius: 25px;
  box-shadow: 1px 1px 2px var(--light-border),
    inset 2px 2px 2px var(--dark-border);
}

.out-rounded {
  border-radius: 25px;
  background: linear-gradient(155deg, var(--light-bg), var(--dark-bg));
  backdrop-filter: blur(10px);
}

.in-rounded {
  border-radius: 25px;
  background: linear-gradient(155deg, var(--dark-bg), var(--light-bg));
  backdrop-filter: blur(10px);
}

.default {
  background: linear-gradient(135deg, hsl(195, 100%, 59%), hsl(319, 100%, 70%));
}

.sombra {
  text-shadow: var(--bg) 0px 0px 5px;
}

.vertical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}
